{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay"
    style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Contact</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  {% if message_name %}
  <center>
    <h3>Thanks {{message_name}}! </h3>
    <br>
    We received your email and will contact you shortly...
  </center>
  {% endif %}
  <!-- ***** Contact Area Start ***** -->
  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="google-maps mb-100"><iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1466.2494238166187!2d31.14744977958399!3d40.84053890164252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d9fe25a8dbc6d%3A0x2f360de862175956!2zS8O8bHTDvHIsIEthbnVuaSBTay4sIDgxNjAwIETDvHpjZSBNZXJrZXovRMO8emNl!5e0!3m2!1sen!2str!4v1584899923664!5m2!1sen!2str"
              width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>

          </div>
        </div>
      </div>

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Address</h5>
            <p>Düzce/Merkez</p>

            <h5>Phone</h5>
            <p>+90 123 456 78 90</p>

            <h5>Fax</h5>
            <p>+84. 2252. 2250. 125</p>

            <h5>Email</h5>
            <p class="mb-0">miraccan6161@gmail.com</p>
          </div>
        </div>
        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Get In Touch </h2>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form action="{% url 'contact' %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  {{form}}
                <div class="col-12 text-center">
                  <button type="submit" value="submit" class="btn dento-btn">Send Message</button>
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Contact Area End ***** -->
{% endblock content %}

